@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

@theme{
    --font-display: "Urbanist", sans-serif;
    --breakpoint-3xl: 1920px;
    --color-primary: #9328E7;
}

@layer base{
    html{
        font-family: var(--font-display);
    }
    body{
        background-color: #fcfbfc;
        overflow-x: hidden;
    }
}

/* Custom scrollbar styling */
.custom-scrollbar::-webkit-scrollbar{
    width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-thumb{
    background-color: rgba(100, 100, 100, 0.4);
}

.custom-scrollbar::-webkit-scrollbar-track{
    background: transparent;
}

@layer utilities{
    /* Animate text with shine effect */
    @keyframes text-shine{
        0%{
            background-color: 0% 50%;
        }
        100%{
            background-position: 100% 50%;
        }
    }

    .animate-text-shine{
        animation: text-shine 3s ease-in-out infinite alternate;
    }
}

.input-box{
    @apply w-full justify-between gap-3 text-sm text-black bg-gray-50/50 rounded px-4 py-3 mb-4 mt-3 border border-gray-100 outline-none focus-within:border-purple-300;
}

.btn-primary{
    @apply w-full text-sm font-medium text-white bg-black shadow-lg shadow-purple-600/5 p-[10px] rounded-md
}

.btn-small{
    
}